@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
    position:relative;
}

div#entrada{
    position:absolute;
    top: 50%;
    left: 50%;
     transform: translate();
    background-color: white;
    border: 2px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.546);

    width: 50vw;
    height: 50vh;
}